.idea/

.vscode/

log/
logs/
*.log


.env

/vendor/


/node_modules/

/phpunit.xml
/phpunit.xml.dist
/phpunit.result.cache

/composer.lock


*.yml
*.yaml


.idea/
*.iml

nbproject/

.project
.buildpath
.settings/

/phpcs.xml
/.phpcs-cache/


/phpstan.neon
/phpstan-cache/

.DS_Store

Thumbs.db
